@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    margin: 100px;
    text-align: center;
    background-color: rgb(241, 217, 226);
}

h1 {
    font-size: 70px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 35px;
}

th {
    font-size: 30px;
}

b {
    font-size: 20px;
}

input, button {
    padding: 10px;
    font-size: 26px;
}

label {
    font-size: 20px;
    font-family: arial;
    text-align: center;
    margin-right: 40px;
}

input[type="radio"] {
    transform: scale(1.5); 
    margin-top: 20px;
    margin-bottom: 20px;
}


table {
    background-color: white;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #959595;
}

td {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.radio-buttons {
    margin-top: 20px;
}
